# grumphp.yml
grumphp:
    environment:
        variables:
            PHP_CS_FIXER_IGNORE_ENV: "true"
    tasks:
        composer:
            strict: true
        composer_require_checker: ~
        phpcsfixer2:
            allow_risky: true
            config: .php-cs-fixer.php
        phpstan:
            configuration: phpstan.neon
        phpunit:
            metadata:
                priority: 100
            always_execute: true
