parameters:
    level: 8
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#Undefined variable: \$loadEntities\.#'
